html{
    background-color: $secundario;
    font-family: 'Poppins', sans-serif;
}

.fondo-nav{
    background-color: transparent !important;
}

.btn-whatsapp {
    display:block;
    width:70px;
    height:70px;
    color:#fff;
    position: fixed;
    right:20px;
    bottom:20px;
    border-radius:50%;
    line-height:80px;
    text-align:center;
    z-index:999;
}

.texto-nav{
    color:$tercero !important;
}

.header{
    background-image: url(../../public/images/fondo-2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;    
    width: 100vw;
}

.servicios{
    background-color: $secundario;
}

.titulo-servicios{
    color: $tercero;
}

.formulario{
    background-color: $secundario;
    color: $tercero;
}


.footer{
    background-color: $principal;
    color: $cuarto;
}

.texto-amarillo{
    color: $tercero;
}