html{
    background-color: $secundario;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.fondo-nav{
    background-color: rgba(7,7,7,.65) !important;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index:999;
    
}

.texto-nav{
    color:$tercero !important;
}

.header{
    background-image: url(../../public/images/fondo-2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;    
    width: 100%;
}

.servicios{
    background-color: $secundario;
}

.titulo-servicios{
    color: $tercero;
}

.tarjeta{
    width: 345px !important;
    border-radius: 16px !important;

}

.card-img-top{
    position: relative;
    top: -1px;
    left: -1px;
    margin: 0 !important;
    border-radius: 14px !important;
    width: 345px !important;
    height: 460px !important;
}

.formulario{
    background-color: $secundario;
    color: $tercero;
}

.footer{
    background-color: $principal;
    color: $cuarto;
}

.texto-amarillo{
    color: $tercero;
}

.btn-whatsapp {
    display:block;
    width:70px;
    height:70px;
    color:#fff;
    position: fixed;
    right:20px;
    bottom:20px;
    border-radius:50%;
    line-height:80px;
    text-align:center;
    z-index:999;
}

.icono-footer{
    font-size: 1rem;
    color: $tercero;
}